.cards {
  padding: 5%;
}
.nosotros {
  padding: 5%;
}
p {
  font-style: italic;
}
span {
  display: block;
  padding: 0.5%;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  padding-top: 3%;
  margin-left: 5%;
}
.circular-image {
  margin-bottom: 20px;
  margin-right: auto;
  margin-top: 20px;
  margin-left: auto;
  width: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
h2 {
  margin-left: 30%;
}
