.TitleSignUpForCareerRegistration {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.SubmitButtonForCareerRegistration {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.CheckBoxContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.CareerRegistrationContainer {
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
}

.ContenedorImagen {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
