.carrera{
    display:flex;
    color:white;
    font-weight: 200;
    justify-content: center;
    
}
.imagen{
    background-image: url(https://wmimg.azureedge.net/public/img/marathons/medellin-marathon/bP46ah_medellin-marathon.jpg?c=1676998826);
}