
form {
    height: 400px;
}

.side-div {
    --pattern-size: 5rem;
    background:
      linear-gradient(to bottom, #0000, #000c),
      linear-gradient(to bottom right, #fff1 50%, transparent 50%),
      linear-gradient(to bottom left, #fff1 50%, transparent 50%),
      #333;
    background-size: cover, var(--pattern-size) var(--pattern-size), var(--pattern-size) var(--pattern-size), cover;
    background-position: top center;
  }
  
  .side-div {
    width: 18rem;
    height: 400px;
    box-shadow: 0 .5rem .5rem #0004;
    color: white;
  }

  input {
    border: none !important;
    border-bottom: 2px solid black !important
  }