.otherPages {
  text-decoration: none;
  color: #34393e;
  font-size: large;
  transition: color 0.3s ease;
}

.otherPages:hover {
  color: #23ce6b;
  font-size: larger;
}

.profileImg {
  height: 50px;
  width: 50px;
}

.btnNav {
  border: black solid;
  background-color: #34393e;
  color: aliceblue;
  width: 12rem;
}

.btnNav:hover {
  background-color: #23ce6b;
  font-size: larger;
}
