aside {
    background-color: black;
    width: 20%;
    height: 85vh;
}

.panel-box {
    list-style-type: none;
    list-style-position: inside;
}
.org-name {
    overflow: hidden;
    color: white;
    font-size: 1.5vw;
}

.panel-item {
    overflow: hidden;
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
}

.panel-item:hover {
    background-color: #1c1c1b;
}
