* .container-puntuacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
}

.stars {
  margin-right: 10px;
  cursor: pointer;
  padding: 2%;
}

.feedback {
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  margin: 20px 0;
  min-height: 100px;
  padding: 20px;
}
*/ .title {
  margin: 50px;
  text-align: center;
}
.back-to {
  padding: 2%;
}
.comentarios {
  padding: 8%;
  margin-top: 20px;
  display: grid;
  background: black;
  color: aliceblue;
}

.buttonSubmit {
  margin-top: 20px;
}

.TituloComentarios {
  margin-bottom: 30px;
}

.SinComentarios {
  font-size: x-large;
  text-wrap: nowrap;
  color: red;
}
